{% extends "base.html" %} 
{% block content %}
    <div class="container">
  <div class="row">
    <div class="col-10">
    </div>
    <div class="col-2 order">
          <span style="font-size: 3vw;">Order</span>
          <hr color="black">
                <div class="list_order">
                  <span>1 หมีคุง</span>
                  <p>this is mhee and coffee shop</p>
                  </div>
                <hr color="black">
                <div class="list_order">
                  <span>2 หมีคุง</span>
                  <p>this is mhee and coffee shop</p>
                  </div>
                <hr color="black">
                <div class="list_order">
                  <span>3 หมีคุง</span>
                  <p>this is mhee and coffee shop</p>
                  </div>
                <hr color="black">
                <div class="list_order">
                  <span>4 หมีคุง</span>
                  <p>this is mhee and coffee shop</p>
                  </div>
                <hr color="black">
                <div class="list_order">
                  <span>5 หมีคุง</span>
                  <p>this is mhee and coffee shop</p>
                  </div>
                <hr color="black">
                <div class="list_order">
                  <span>6 หมีคุง</span>
                  <p>this is mhee and coffee shop</p>
                  </div>
                <hr color="black">
                <div class="list_order">
                  <span>7 หมีคุง</span>
                  <p>this is mhee and coffee shop</p>
                  </div>
                <hr color="black">
                <div class="list_order">
                  <span>8 หมีคุง</span>
                  <p>this is mhee and coffee shop</p>
                  </div>
                <hr color="black">
            </tbody>
            </table>
    </div>
  </div>
</div>

<style>

        .order{
            position: fixed; 
            height: 100%;
            right: 0px;
            top: 0px;
            width: 100%;
            background-color: rgba(277, 277, 277, 0.8);; 
            box-shadow: -8px 0px 9px 0px rgba(0,0,0,0.2);
            overflow: auto;
            }
        .list_order{
          height: 20vh;
          font-size: 1vw;
        }
        </style>
{% endblock content %} 


        
