{% extends "base.html" %} {% load static %} {% block content %}
<div class="row">
    <div class="col-lg-6 col-12 cad" style="margin-top: 6vh;">
        <a data-toggle="modal" data-target=".bd-example-modal-xl-coffee">
            <div class="bg-light cardselect">
                    <h3 style="margin-top: 6vh; line-height: 200px;">Coffee and Other</h3>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-12 beuti cad">
        <a data-toggle="modal" data-target=".bd-example-modal-xl-smoothie">
            <div class="bg-light cardselect">
                    <h3 style="margin-top: 6vh; line-height: 200px;">Smoothie</h3>
            </div>
        </a>
    </div>
    <div class="col-12 list_r">
        <label class="titlelist col-lg-8" style="margin-top: 2vh;">List Promotion</label>
        <div class="alltable">
            <div class="listbody">
                <table class="table tablebo tablepro">
                    {% for di in Promotion%}
                    <tr><td><div class="row ">
                        <div class="titlepromo col-3">{{ forloop.counter }}</div>
                                <div class="col-8">
                                    <h3>Promotion : {{di.promo_desc}}</h3>
                                    <p class="text-primary">start at :{{di.s_date}}</p>
                                    <p class="text-danger">end at :{{di.e_date}}</p>
                                </div>
                        </div>  
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl-coffee" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Coffee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick='reset()'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id='menuZone'>
                    <div class="col-12">
                        <h2>Menu
                            <button type='button' class='btn btn-secondary Hot' onclick='addMenu("Hot")'>ร้อน</button>
                            <button type='button' class='btn btn-secondary Iced' onclick='addMenu("Iced")'>เย็น</button>
                            <button type='button' class='btn btn-secondary Frappe'
                                onclick='addMenu("Frappe")'>ปั่น</button>
                        </h2>
                        <h4 class='text-warning' id='nonDrinkAddtoCard' style='display:none;'>*****
                            กรุณาเลือกเครื่องดื่ม *****</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 style="margin-top: 5vh;"> ความหวาน</h2>
                        <hr>
                        <div class="col-7">
                            <select class="custom-select sweetness" id="inputGroupSelect01"
                                onchange="changeSweet(event)">
                                <option value="lesssweet">หวาานน้อย</option>
                                <option selected value="normalsweet">หวานปกติ</option>
                                <option value="moresweet">หวานมาก</option>
                            </select>
                        </div>
                        <h2 style="margin-top: 5vh;"> Topping <button type='button' class='btn btn-success'
                                onclick="addTopping(1);recalDrinkPrice(event)">+</button></h2>
                        <hr>

                        <div class="col-12" id='toppingZone-coffee'>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <h2>Price : <span class='DrinkPrice'>0</span></h2>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-success" onclick='addToCart()'>เพื่มลงตระกร้า</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl-smoothie" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Smoothie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick='reset()'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h2 style="margin-top: 1vh;">เลือกผลไม้ (เลือกได้มากกว่า 1 อย่าง) </h2>
                        <hr>
                    </div>
                </div>
                <div class="row" id='fruitZone'>
                    {% for fruit in fruits %}
                    <div class="col-sm-3">
                        <button style='height:100px;width:100%;border:none;display:inline-block; margin-top: 1vh;' class="btncool"
                            name="{{ fruit.fruit_name }}" onclick='selectFruitThis(event);recalDrinkPrice(event);'
                            data-id="{{ fruit.id }}">
                            {{ fruit.fruit_name }}</button>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 style="margin-top: 5vh;"> Topping <button type='button' class='btn btn-success'
                                onclick="addTopping(2);recalDrinkPrice(event)">+</button></h2>
                        <hr>
                    </div>
                    <div class="col-12" id='toppingZone-smoothie'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h2>Price : <span class='DrinkPrice'>0</span></h2>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-success" onclick='addToCart()'>เพื่มลงตระกร้า</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-md-8 col-12 order" id="order">
    <div style="height: 5vh;">
        <h2 style="margin-top:1vh;">รายการที่สั่ง</h2>
    </div>
    <hr color="black">
    <div class="list_order" id='unordered'>
        <br>
        <br>
        <h3 class='text-center'>ไม่มีรายการที่สั่ง</h3>
    </div>
    <div class="list_order" id='ordered' style='display:none;'>
        <table class='table' id='cart'>
            <tr>
                <th>#</th>
                <th>รายละเอียด</th>
            </tr>
        </table>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3 class='pt-1' style='width:50vw;'>เลือกโปรโมชั่น : </h3>
                <select name="promotion" id="promotion" class='custom-select' style='width:50%;'>
                <option value="0"> ไม่เลือก </option>
                {% for di in Promotion %}
                    <option value="0"> {{di.promo_desc}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-8">
                <h3>ราคาทั้งหมด : <span id='cartTotalPrice'></span> บาท</h3>
            </div>
            <div class='col-4'>
                <button type='button' class='btn btn-success'
                    style="float: right;position: relative;right: 0.75rem;" onclick='order()'>สั่งซื้อ</button>
            </div>
        </div>
        <hr>
        <br>
    </div>
    <button class="btn btnsideorder" onclick='openorder();'>
        <img style="height: 25px;" src="{% static 'shopping-cart-solid.svg' %}">
    </button>
    </tbody>
    </table>
</div>
</div>
<style>
    .tablepro th ,.tablepro td{
        width: 30%;
    }
    .tablepro th:first-child ,.tablepro td:first-child{
        width: 10%;
    }
    .thead-custom {
        background: linear-gradient(to right, #ff9966, #ff5e62);
        background-attachment: fixed;
    }
    #cart tr {
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    #cart tr:first-child {
        background: linear-gradient(to right, #ff9966, #ff5e62);
    }
    .btnsideorder {
        position: fixed;
        right: 2%;
        top: 1%;
        width: 100px;
        background-color: #ddd;
        border: 3px solid #333;
        transition: 0.2s ease;
        height: 42px;
    }

    .btnsideorder:hover {
        background: linear-gradient(to right, #ff9966, #ff5e62);
        transform: scale(1.05, 1.05);
    }

    .btncool {
        transition: 0.15s ease;
    }

    .btncool:hover {
        transform: scale(1.05, 1.05);
    }
    .titlelist {
        font-size: 30px;
    }
    .cardselect {
        box-shadow: 2px 2px 5px 0px rgba(46, 46, 46, 1);
        transition: 0.2s ease;
        text-align: center;
        vertical-align: middle;
        height: 200px;
        border-radius: 10px;
    }
    .beuti{
        margin-top: 6vh;
    }
     @media only screen and (max-width: 990px) {

        .beuti{
            margin-top: 0vh;
        }
    }
    .titlepromo{
        width: 100px;
        height: 100px;
        background-color: #ddd;
        text-align: center;
        line-height: 100px;
        border-radius: 20px;
    }
    .list_r {
        background-color: rgba(253, 253, 253, 0.9);
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(87, 87, 87, 1);
        margin-bottom: 5vh;
        margin-top: 8vh;
    }
    p{
        color: black !important;
    }
    .cardselect:hover {
        transform: scale(1.02, 1.02);
        background: linear-gradient(to right, #ff9966, #ff5e62);
    }

    .order {
        position: fixed;
        height: 100%;
        right: -100%;
        top: 0px;
        width: 100%;
        background-color: #ddd;
        box-shadow: -8px 0px 9px 0px rgba(0, 0, 0, 0.2);
        overflow-x: hidden;
        z-index: 1000;
    }
    .table-bordered>tbody>tr>th {
        border: 1px solid transparent;
    }

    table.table-bordered {
        border: 1px solid transparent;
        margin-top: 20px;
    }

    table.table-bordered>thead>tr>th {
        border: 1px solid transparent;
    }

    table.table-bordered>tbody>tr>td {
        border: 1px solid transparent;
    }
    table {
        border-collapse: separate;
        border-spacing: 0 1vh;
    }

    #order {
        transition: 0.25 ease;
    }

    .list_order {
        height: 20vh;
        font-size: 22px;
    }

    .img-fluid {
        border-radius: 20px;
    }

    .modal-header {
        background: linear-gradient(to right, #ff9966, #ff5e62);
    }
</style>
<script type="text/javascript">
        function addTopping(zone) {
        var toppingZone = ''
        if (zone == 1) {
            toppingZone = document.getElementById('toppingZone-coffee')
        } else if (zone == 2) {
            toppingZone = document.getElementById('toppingZone-smoothie')
        }
        topping = document.createElement('div')
        topping.style.margin = '10px'
        topping.className = 'addTopping'
        topping.innerHTML =
            "<select class=\'form-control\' id=\'inputGroupSelect01\' style=\'width:15vw;display:inline-block\'>" +
            {% for option in options %}
    "<option value='{{option.id}}' data-price='{{option.price}}'>{{option.option_name}}</option>" +
        {% endfor %}
    '</select>' +
        "<input type='number' name='amount' class=\'form-control mt-1 ml-3 mr-3\' id='amount' value=\'1\' min=\'1\' max=\'5\' oninput=\'checkMT5(event);recalDrinkPrice(event)\' style=\'width:10vw;display:inline-block\' oninput=\'recalDrinkPrice(event)\'>" +
        "<button type='button' class='btn btn-danger' onclick='deleteTopping(this);recalDrinkPrice(event);' style=\'display:inline-block\'>-</button>"
    toppingZone.appendChild(topping)
    }

    function deleteTopping(element) {
        parent = element.parentNode
        parent.remove()
    }

    function addMenu(type) {
        var a = document.getElementsByClassName("Iced");
        var b = document.getElementsByClassName("Hot");
        var c = document.getElementsByClassName("Frappe");
        a[0].className = 'btn btn-secondary Iced';
        b[0].className = 'btn btn-secondary Hot';
        c[0].className = 'btn btn-secondary Frappe';
        deleteMenu();
        menuZone = document.getElementById('menuZone')
        {% for drink in drink_infos %}
        if (type == "{{ drink.drink_type }}") {
            var x = document.getElementsByClassName(type);
            x[0].className = 'btn btn-primary ' + type;
            menu = document.createElement('div');
            menu.className = 'col-sm-3 menu';
            menu.innerHTML =
                "<button class=\'btncool\' style=\'height:100px;width:100%;border:none;display:inline-block;margin-top: 1vh;\' onclick=\'selectThis(event)\'>" +
                "{{ drink.d_name }}</button>" +
                "<p style='display:none' id='drink_id'>{{ drink.id }}</p>" +
                "<p style='display:none' id='type'>{{ drink.drink_type }}</p>" +
                "<p style='display:none' id='cost'>{{ drink.cost }}</p>"
            menuZone.appendChild(menu)
        }
        {% endfor %}
    }

</script>
<script defer src="{% static 'js/script.js'%}">
    </script>
{% endblock content %}