{% extends "base.html" %} {% load static %} {% block content %}
<div class="container listall">
    <div class="col-12 list_r">
        <label class="titlelist col-lg-8 col-6">รายการคิว</label>
        <hr>
        <div class="alltable">
            <div class="listbody">
                {% for queue in queues %}
                <div class="row">
                    <div class="titledrink col-3 col-lg-3  {% if queue.your %} bghl {% endif %} {% if queue.order_type == 'Local_buy' %} bglc {% endif %}" data-toggle="collapse" href="#collapse{{ forloop.counter }}"
                        role="button" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        <p font-size="28px">{{ forloop.counter }}</p>
                    </div>
                    <div class="col-8 col-lg-5">
                        <p class="text-primary">หมายเลขออเดอร์ : {{queue.id}}
                            {% if queue.order_type == 'Local_buy' %} 
                            <span class='text-primary'>(หน้าร้าน)</span>
                            {% elif queue.order_type == 'Online_buy' %}
                            <span class='text-primary'>(online)</span>
                            {% endif %}
                        </p>
                        <p>
                            {% if queue.your %} 
                            <span class='text-warning'>(ออเดอร์ของคุณ)</span>
                            {% endif %}
                        </p>
                        <p class="text-secondary">วันที่ : {{queue.date.date}}</p>
                        <p class="text-secondary">เวลา : {{queue.time}}น.</p>
                        <p class="text-success">ราคารวม : {{queue.total_price}}</p>
                         {% if queue.promo_id.id > 0 %} 
                            <p class="text-warning">ใช้โปรโมชั่น : {{queue.promo_id.name}}</p>
                        {% endif %}
                        <button type='button' class='btn btn-primary' data-toggle="collapse"
                            href="#collapse{{ forloop.counter }}" role="button" aria-expanded="false"
                            aria-controls="collapse{{ forloop.counter }}" style="margin-bottom: 1vh;">ดูรายละเอียด</button>
                        <a href="{% url 'order_success' queue.id %}"><button type='button' class='btn btn-warning' style="margin-bottom: 1vh;">เสร็จสิ้น</button></a>
                    </div>
                    <div class="collapse mb-3 col-12" id="collapse{{ forloop.counter }}">
                        <hr>
                        <div class="card card-body">
                            {% for item in queue.items %}
                            <div class="container-fluid" style="margin-bottom: 4vh;">
                                <div class="row">
                                    <div class="titledrink col-3 queue_item"
                                        style="margin-top: 1vh; background-image:url('../managements{{ item.picture.url }}');">
                                    </div>
                                    <div class="col-6">
                                        <p class="text-primary">{{ forloop.counter }}). {{item.name}}</p>
                                        <p class="text-secondary">ราคารวมท็อปปิ้ง : {{item.unit_price}}</p>
                                        {% if item.sweetness %}
                                        <p class="text-secondary">ความหวาน : {{item.sweetness}}</p>
                                        {% endif %}
                                        {% if item.fruits %}
                                        <p class="text-secondary">ผลไม้ที่ใส่ : </p>
                                        <ul>
                                            {% for fruit in item.fruits %}
                                            <li class="text-secondary">{{fruit.name}}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        {% if item.toppings %}
                                        <p class="text-secondary">Topping ที่ใส่ : </p>
                                        <ul>
                                            {% for topping in item.toppings %}
                                            <li class="text-secondary">{{topping.name}}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <p class="text-secondary">จำนวน : {{item.amount}}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}

            </div>

        </div>

    </div>
</div>
<style>
    .titledrink {
        width: 100px;
        height: 220px;
        background-color: #ddd;
        text-align: center;
        line-height: 220px;
        border-radius: 20px;
        margin-left: 1vw;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: 0.15s ease;
    }
    .titledrink:hover{
        transform: scale(0.95,0.95);
    }
    .card{
        border-radius: 20px;
        background: #dddddd;
        box-shadow: inset 11px 11px 22px #aaaaaa, 
            inset -11px -11px 22px #ffffff;
    }

    p {
        font-size: 20px;
    }

    th,
    td {
        width: 20%;
    }

    .thead-custom {
        background: linear-gradient(to right, #ff9966, #ff5e62);
        background-attachment: fixed;
    }

    .table-bordered>tbody>tr>th {
        border: 1px solid transparent;
    }

    table.table-bordered {
        border: 1px solid transparent;
        margin-top: 20px;
    }

    .queue_item {
        background-position: center;
        background-size: cover;
    }

    table.table-bordered>thead>tr>th {
        border: 1px solid transparent;
    }

    table.table-bordered>tbody>tr>td {
        border: 1px solid transparent;
    }

    table {
        font-size: 18px;
    }

    .listbody {
        height: 68vh;

    }

    .alltable {
        width: 100%;
        overflow-x: hidden;
    }
    .bghl{
        background: linear-gradient(to right, #ff9966, #ff5e62);
    }
    .bglc{
        background: linear-gradient(to right, #c2e59c, #64b3f4);
    }
     @media only screen and (max-width: 1400px) {
         .titledrink {
            margin-left: 3vw;
        }
     }
    @media only screen and (max-width: 500px) {

        .table,
        .list_r label,
        .list_r a,
        .list button {
            font-size: 14px;
        }
        .titledrink {
            width: 100px;
            height: 100px;
            line-height: 100px;
        }
    

        .list_r label {
            font-size: 18px;
        }

        .table {
            width: 400px;
        }

        p {
            font-size: 14px;
        }

        th,
        td {
            width: 20%;
        }

        .titledrink {
            margin-left: 5vw;
        }
    }

    .list {
        background-color: rgba(253, 253, 253, 0.9);
        padding: 2%;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(87, 87, 87, 1);
    }

    .list_r {
        background-color: rgba(253, 253, 253, 0.9);
        padding: 3%;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(87, 87, 87, 1);
        margin-bottom: 5vh;
    }

    .bottoncolor78 {
        text-align: center;
        color: rgb(82, 82, 82);
        font-size: 24px;
        border-radius: 20px;
        background: linear-gradient(to right, #ff9966, #ff5e62);
        transition: 0.25s ease;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        margin-left: 10%;
    }

    .titlelist {
        font-size: 30px;
    }

    .listall {
        margin-top: 10vh;
    }
</style>
{% endblock content %}