{% extends "base.html" %} 
{% block content %}
 <div class="container addfruit col-12">
<h1>เพิ่มผลไม้</h1>
        <form method="POST" action="{% url 'add_fruit' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group">
                        {{field.errors}}
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                        <button class="btn bottoncolor5 col" type="submit">บันทึกข้อมูล</button>

        </form>
</div>
        <style>
        .addfruit{
            color: rgb(82, 82, 82);
            margin-top: 20vh;
            background-color: rgba(253, 253, 253,0.8);
            padding: 5%;
            border-radius: 10px;
            box-shadow:  20px 20px 60px #ff9966, -20px -20px 60px #ff5e62;
            }
        .bottoncolor5{
                color: rgb(82, 82, 82);
                font-size: 1.3em;
                margin-top: 30px;
                border-radius: 20px;
                background: linear-gradient(to right, #ff9966, #ff5e62);
                transition: 0.25s ease;
                width: 100%;
            }
        .bottoncolor5:hover{
               transform: scale(1.07, 1.07);
            }
        </style>
        
{% endblock content %} 