{% extends "base.html" %} 
{% block content %}
 <div class="container addfruit col-8">
<h1>เพิ่ม Topping</h1>
        <form method="POST" action="{% url 'add_option' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group">
                        {{field.errors}}
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                    <p>
                        <button class="btn btn-primary" type="submit">บันทึกข้อมูล</button>
                    </p>
        </form>
</div>
        <style>
        .addfruit{
            color: rgb(82, 82, 82);
            margin-top: 20vh;
            background-color: rgba(233, 233, 233,0.8);
            padding: 60px;
            border-radius: 10px;
            box-shadow:  20px 20px 60px #ff9966, -20px -20px 60px #ff5e62;
                    }
        </style>
        
{% endblock content %} 