{% extends "base.html" %} {% block content %}  {% load static %}
<div class="container listall">
    <div class="list col-12" style="margin-bottom: 5vh; margin-top: 1vh;">
        <form class="form-inline" method="GET" action="{% url 'list_option'%}">
            <input type="text" class="form-control col-lg-8 col-6" id="search" name="search" placeholder="ค้นหา">
            <button class="btn bottoncolor78 col-4 col-lg-2" type="submit" style="margin-right:0px;">
                <img style="height:25px; filter: invert(0.2);" src="{% static 'search-solid.svg' %}">
            </button>
        </form>
    </div>
    <div class="col-12 list_r">
        <label class="titlelist col-lg-8 col-6">List Topping</label>
        <a class="btn bottoncolor78 col-lg-2 col-4" href="{% url 'add_option' %}">
            <img style="height: 25px; filter: invert(0.2);" src="{% static 'plus-solid.svg' %}">
        </a>
        <div class="alltable">
            <div class="listbody">
                <table class="table tablebo" style="margin-left: 1vw;">
                    {% for di in option%}
                    <tr><td><div class="row ">
                        <div class="titledrink col-3" style="background-image: url('..{{ di.picture.url }}');"></div>
                                <div class="col-8" style="margin-left: 1vw;">
                                    <p style="font-weight: bold;">{{ forloop.counter }}). ชื่อ : {{di.option_name}}</p>
                                    <p class="text-primary">คำอธิบาย : {{di.description}}</p>
                                    <p class="text-primary">ราคา : {{di.price}}</p>
                                    <a href="{% url 'edit_option' di.id %}" class="btn btn-warning text-white">
                                        <img style="height:20px; filter: invert(1);" src="{% static 'wrench-solid.svg' %}">
                                    </a>
                                    <a href="{% url 'delete_option' di.id %}" class="btn btn-danger text-white">
                                        <img style="height:20px; filter: invert(1);" src="{% static 'trash-alt-solid.svg' %}">
                                    </a>
                                </div>
                        </div>  
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .titledrink{
        width: 100px;
        height: 150px;
        text-align: center;
        line-height: 150px;
        border-radius: 20px;
        background-image: url("{% static 'kaimook.jpg'%}");
        background-size: cover;
        transition: 0.15s ease;
        background-position: center;
         box-shadow: 4px 4px 5px 0px rgba(87, 87, 87, 1);
    }
    .titledrink:hover{
        transform: scale(1.05,1.05);
    }
    p{
        font-size: 20px;
    }
    th,
    td {
        width: 20%;
    }

    .thead-custom {
        background: linear-gradient(to right, #ff9966, #ff5e62);
        background-attachment: fixed;
    }

    .table-bordered>tbody>tr>th {
        border: 1px solid transparent;
    }

    table.table-bordered {
        border: 1px solid transparent;
        margin-top: 20px;
    }

    table.table-bordered>thead>tr>th {
        border: 1px solid transparent;
    }

    table.table-bordered>tbody>tr>td {
        border: 1px solid transparent;
    }

    table {
        font-size: 18px;
    }

    .listbody {
        height: 50vh;

    }

    .alltable {
        width: 100%;
        overflow-x: hidden;
    }

    @media only screen and (max-width: 500px) {

        .table,
        .list_r label,
        .list_r a,
        .list button {
            font-size: 14px;
        }

        .list_r label {
            font-size: 18px;
        }

        .table {
            width: 400px;
        }
        p{
            font-size: 14px;
        }
        th,
        td {
            width: 20%;
        }
    }

    .list {
        background-color: rgba(253, 253, 253, 0.9);
        padding: 2%;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(87, 87, 87, 1);
        top: 3vh;
        opacity: 0;
    }

    .list_r {
        background-color: rgba(253, 253, 253, 0.9);
        padding: 3%;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0px rgba(87, 87, 87, 1);
        margin-bottom: 5vh;
        top: 3vh;
        opacity: 0;
    }

    .bottoncolor78 {
        text-align: center;
        color: rgb(82, 82, 82);
        font-size: 24px;
        border-radius: 20px;
        background: linear-gradient(to right, #ff9966, #ff5e62);
        transition: 0.25s ease;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        margin-left: 10%;
    }

    .titlelist {
        font-size: 30px;
    }
    .listall{
        margin-top: 10vh;
    }
</style>
<script>
        $(document).ready(function () {
                            $(".list_r,.list").animate({
                                        'top': '0vh',
                                        'opacity': 1
                                        },500, function() {
                                });
                    
                });
        </script>
{% endblock content %}